{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block header %}Search Results{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-plain">
            <div class="panel-body">
                {% if tools %}
                <div class="row toollist">
                    {% for tool in tools %}
                    <div class="col-sm-4">
                        <a href="{% url 'tool' tool.id %}" class="btn btn-default tool {% if tool in action_pending_tools %}action-pending{% endif %}">
                            <div class="title">{{ tool.name }}</div>
                            <div class="description">{{ tool.description|truncatechars:70 }}</div>
                            <div class="status {{ tool.status_string }}">
                                {{ tool.status_string }}
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <em>No tools were found for your query "{{ query }}".</em>
                {% endif %}
            </div>
    </div>
</div>
{% endblock %}

